

@{
    Layout = "_Layout";
}
<h3>Suma de 2 numeros</h3>

<form method="get" action="~/Sumar/Resultado">
    <fieldset>
        <legend>Ingresa los datos para realizar la suma</legend>

        <label>Numero 1: </label><input name="Numero1" /><br />
        <label>Numero 2: </label><input name="Numero2" /><br />
        <input type="submit" value="Sumar" />
    </fieldset>
</form>

