@model Actividad1Parametros171G0242.Models.Sumar
@{
    Layout = "_Layout";

    ViewData["Title"] = "Resultado";
}

<h3>Resultado</h3>
<p>El resultado de @Model.Numero1 + @Model.Numero2 es @Model.Resultado()</p>

