@model IEnumerable<Unidad2Actividad2.Models.Villancico>

@{
    Layout = "_Layout";
}

<ul>
    @foreach (var villancico in Model)
     {
        <li>
            <a href="~/Home/VillancicoInfo/@villancico.Id">@villancico.Nombre</a>
        </li>
     }

</ul>


