<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/estilos.css"/>
    <title></title>
</head>
<body>
    <h1>Programacion web</h1>
    <p class="misdatos">Estefania Pichardo Montes 7.1G Num.Control 171G0242</p>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
